
main > .contenedorContacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    background-color: #030303;
    color: #f0f0f0;
    min-height: 100vh;
    box-sizing: border-box;
}

main > .contenedorContacto h1 {
    font-size: 2.5em;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

main > .contenedorContacto .subtitulo {
    text-align: center;
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 20px;
}

main > .contenedorContacto .infoContacto {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    font-size: 1em;
    padding: 10px 0;
    width: 100%;
    max-width: 1000px;
    margin-top: 30px;
}

main > .contenedorContacto .infoContacto div {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    text-align: center;
}

main > .contenedorContacto .infoContacto a {
    color: #f0f0f0;
    text-decoration: underline;
    margin-top: 10px;
    display: inline-block;
}


main > .contenedorContacto .infoContacto strong {
    font-weight: bold;
    letter-spacing: 1px;
    color: #ffffff;
}

main > .contenedorContacto iframe {
    width: 100%;
    height: 350px;
    max-width: 600px;
    border: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
    main {
        padding-top: 180px;
    }
    main > .contenedorContacto {
        padding: 40px 20px;
    }

    main > .contenedorContacto h1 {
        font-size: 2em;
    }

    main > .contenedorContacto iframe {
        height: 250px;
    }
}
